{% extends "layouts/main.html" %}

{% block pageTitle %}
  Survey complete – Service maturity survey
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        Survey complete
      </h1>
    </div>

    <p class="govuk-body">Thank you for completing the design maturity survey.</p>

    <h2 class="govuk-heading-m">Tell us what you think</h2>

    <p class="govuk-body">
      Take a moment to <a href="https://forms.office.com/e/wkcRrKFXwk" class="govuk-link">answer 3 questions</a> about your experience</a>.
    </p>
    
    

    
    <p class="govuk-body">
      <a href="/" class="govuk-link">Return to start page</a>
    </p>

  </div>
</div>
{% endblock %} 