{% extends "layouts/main.html" %}

{% block pageTitle %}
  No active surveys - Service Maturity Assessment
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">No active surveys</h1>

    <p class="govuk-body">This organisation is not currently running a survey.</p>
    
    <p class="govuk-body">Survey periods are set by organisation administrators.</p>
    <p class="govuk-body">If you do not know who your organisation's administrator is, or if you need to run a survey, contact <a href="mailto:design.ops@education.gov.uk" class="govuk-link">design.ops@education.gov.uk</a>.</p>

    <p class="govuk-body">
      <a href="/" class="govuk-link">
        Return to the homepage
      </a>
    </p>
  </div>
</div>
{% endblock %} 