{% extends "layouts/main.html" %}

{% block pageTitle %}
Check your email - Design maturity survey
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Check your email</h1>

    <p class="govuk-body">We've sent a sign in link to:</p>
    <p class="govuk-body govuk-!-font-weight-bold">{{ email }}</p>

    <p class="govuk-body">The link will expire in 15 minutes.</p>

    <h2 class="govuk-heading-m">Problems signing in?</h2>
    <p class="govuk-body">
      <a href="/admin/sign-in" class="govuk-link">Try signing in again</a> or 
      <a href="/sign-up" class="govuk-link">register for a new account</a>
    </p>
  </div>
</div>
{% endblock %} 