{% extends "layouts/main.html" %}

{% block pageTitle %}
  Survey complete – Service maturity survey
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        Survey complete
      </h1>
    </div>

    <p class="govuk-body">Thank you for completing the service maturity survey.</p>
    
    <p class="govuk-body">
      <a href="/" class="govuk-link">Return to start page</a>
    </p>

  </div>
</div>
{% endblock %} 