{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% set serviceName = "" %}

{% block head %}
  {{ super() }}
  {% if data.cookies_policy.analytics %}
    {% include "includes/google-analytics.html" %}
  {% endif %}
  <link href="https://cdn.jsdelivr.net/npm/accessible-autocomplete@2.0.4/dist/accessible-autocomplete.min.css" rel="stylesheet" />
{% endblock %}

{% block bodyStart %}
  <div data-module="cookie-banner">
    {% include "includes/cookie-banner.html" %}
  </div>
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    containerClasses: "govuk-width-container",
    classes: "govuk-header--full-width-border"
  }) }}


{% if isOrgOwner %}

  {{ govukServiceNavigation({
    serviceName: "Measure design maturity",
    serviceUrl: "/",
    navigation: [
    {
      href: "/org/dashboard",
      text: "Dashboard",
      active: nav === "dashboard"
    },
    {
      href: "/org/waves",
      text: "Survey periods",
      active: nav === "waves"
    }
  ]
  }) }}

  {% else %}

  {{ govukServiceNavigation({
    serviceName: "Measure design maturity",
    serviceUrl: "/",
    navigation: []
  }) }}

  {% endif %}


{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "/cookies",
          text: "Cookies"
        },
        {
          href: "/privacy",
          text: "Privacy"
        },
        {
          href: "/accessibility",
          text: "Accessibility"
        }
      ]
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  <script src="/public/javascripts/cookies.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/accessible-autocomplete@2.0.4/dist/accessible-autocomplete.min.js"></script>
{% endblock %}
